@import url("https://fonts.coollabs.io/css2?family=Fira+Code:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #006266;
}

@theme {
  --font-sans: "Fira Code", ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  --font-mono: "Fira Code", ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
}
